/* Dark mode colors. */
:root {
	--sl-color-accent-low: #03263f;
	--sl-color-accent: #006fae;
	--sl-color-accent-high: #a8ceee;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef3;
	--sl-color-gray-2: #c6c8ce;
	--sl-color-gray-3: #9fa4b0;
	--sl-color-gray-4: #545862;
	--sl-color-gray-5: #343842;
	--sl-color-gray-6: #232630;
	--sl-color-black: #16181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #bedbf3;
	--sl-color-accent: #005383;
	--sl-color-accent-high: #003557;
	--sl-color-white: #16181c;
	--sl-color-gray-1: #232630;
	--sl-color-gray-2: #343842;
	--sl-color-gray-3: #545862;
	--sl-color-gray-4: #878b97;
	--sl-color-gray-5: #c0c2c8;
	--sl-color-gray-6: #eceef3;
	--sl-color-gray-7: #f5f6f9;
	--sl-color-black: #ffffff;
}
